.homepage {
  padding: 0 4rem;
  height: calc(100vh - 6.5rem);
  overflow-y: scroll;

  h2 {
    margin-top: 3rem !important;
    margin-bottom: 1.5rem;
  }
}

.Assets {
  .statusCharts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .chart {
      h2 {
        text-align: center;
      }

      .statistics {
        display: flex;
        flex-direction: column;
        .statistic {
          display: flex;
          flex-direction: column;
          align-items: center;

          p {
            margin-top: -1.1rem;
          }
        }
      }
    }
  }

  .statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -1rem;

    .statistic {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin-top: -1.1rem;
      }
    }
  }

  

  .aEspecific {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    padding-right: 1rem;
  }
  // a {
  //   margin-right: 15px;
  //   margin-top: 15px;
  //   text-decoration: none;
  //   color: var(--blue);
  //   display: flex;
  //   justify-content: flex-end;

  //   transition: color 0.2s ease 0s;

  //   &:hover {
  //     color: #487eb0;
  //   }
  // }
}
